%h1 Welcome#index
- if current_account != nil
	- if @user.name != ""
		= @user.name
	- else
		= form_for(@user) do |f|
			= f.label "Avec mon nom c'est mieux"
			= f.text_field :name
			= f.submit "GoGOGO", class: "button [radius round]"
%p A plus dans le bus

%ul.small-block-grid-3
	%li
		.row.prez
			.row 
				%h2 L'app de la Fabriq
			.row
				%ul
					%li Intégrer un réseau de proximité
					%li De la visibilité pour vos compétences
					%li Suivez l'actualité de votre Fabriq
					%li Intégrer les poles de compétences
					%li Trouver des compétences autour de vous
			.row 
				.large-6.columns
					= link_to "visite guidée", "#", class:"button [radius round]"
				.large-6.columns
					= link_to "Devenez FabriQant", "#", class:"button [radius round]"


	%li
		.row.prez Your content goes here
	%li
		.row.prez Your content goes here