%h1 Welcome#index
- if current_account != nil
	- if @user.name != ""
		= @user.name
	- else
		= form_for(@user) do |f|
			= f.label "Avec mon nom c'est mieux"
			= f.text_field :name
			= f.submit "GoGOGO", class: "button [radius round]"
%p A plus dans le bus

%ul.small-block-grid-3
	%li
		.row.prez
			.row 
				=image_tag "plus.png"
			.row 2
			.row 
				.large-6.columns A
				.large-6.columns B


	%li
		.row.prez Your content goes here
	%li
		.row.prez Your content goes here