!!!
%html{ lang: "en" }
	%head
		%meta{ charset: "utf-8" }/
		%meta{ name: "viewport", content: "width=device-width, initial-scale: 1.0" }/
		%title= content_for?(:title) ? yield(:title) : "La Fabriq"
		= stylesheet_link_tag "application"
		%link{href: "http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css", rel: "stylesheet"}/
		= javascript_include_tag "vendor/modernizr"
		%script{src: "http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"}
		
		= csrf_meta_tags
		
		

		%body.home
			= render 'shared/top_bar'

			= yield
			= javascript_include_tag "application", "data-turbolinks-track" => true	