!!!
%html{ lang: "en" }
	%head
		%meta{ charset: "utf-8" }/
		%meta{ name: "viewport", content: "width=device-width, initial-scale: 1.0" }/
		%title= content_for?(:title) ? yield(:title) : "Jobs that MakeSense"
		= stylesheet_link_tag "application"
		= javascript_include_tag "vendor/modernizr"
		= javascript_include_tag "application"
		= csrf_meta_tags

		%body.home
			%p.notice
				=notice
			%p.alert
				=alert
			.log-stuff
				- if account_signed_in?
					= link_to "Log out", destroy_account_session_path, method: :delete
				- else
					= link_to "Sign up", new_account_registration_path
					= link_to "Sign in", new_account_session_path

			.test
				%p "Alors on danse?"




			= yield
				